.lyric {
  &-name {
    text-align: center;
  }

  &-content {
    text-align: center;
    font-size: 20px;
    color: #665f5f;
    overflow: auto;
    margin-bottom: 50dvh;
  }

  &-sentence {
    margin: 16px 0;

    &--hl {
      font-weight: 500;
      color: #333;
    }
  }
}
