.playlists {
  padding: 16px 0px;

  &::-webkit-scrollbar {
    display: none;
  }

  &-row {
    display: flex;
    align-items: center;
    padding: 6px 12px;
    border-top: 1px solid #e5e7eb;
    cursor: pointer;

    &:hover {
      background-color: rgb(248, 250, 252);
    }

    &-cover-img {
      height: 48px;
      width: 48px;
      border-radius: 6px;
      margin-right: 12px;
    }

    &-info {
      display: flex;
      flex: 1;
      justify-content: space-between;
    }

    &-name {
      font-size: 1rem;
    }

    &-trackcount {
      color: #666;
    }
  }
}
