.playlist {
  margin: 24px 56px;

  &-info {
    display: flex;
    flex-wrap: wrap;
  }

  &-cover {
    width: 240px;
    height: 240px;
    border-radius: 6px;
    margin-right: 24px;
  }

  &-detail {
    display: flex;
    flex-direction: column;
  }

  &-stats {
    font-size: 14px;
  }

  &-desc {
    margin-top: auto;
    margin-bottom: 32px;
  }

  &-action {
    align-self: flex-end;
  }

  &-tracks {
    margin-top: 25px;
  }
}

@media (max-width: 936px) {
  .playlist {
    &-track {
      height: 56px;

      &-name {
        flex-basis: 100%;
      }

      &-aral {
        display: inline-flex;
        font-size: 14px;
        margin-top: 3px;
        flex-basis: 1px;
      }

      &-artists {
        margin-left: 0;
        flex: 1;
        max-width: max-content;
      }

      &-album {
        margin-left: 0;
        flex: 1;
        max-width: max-content;

        &::before {
          content: '•';
          margin: 0 4px;
        }
      }
    }
  }
}

@media (max-width: 626px) {
  .playlist {
    margin: 24px 16px;
  }
}
