.nav {
  display: flex;
  align-items: center;
  margin-left: 20px;
  padding: 8px 0;

  &-user {
    display: flex;
    align-items: center;

    &-name {
      font-size: 14px;
      margin-left: 4px;
      color: #666;
    }
  }
}
