.navbar {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  height: 64px;
  z-index: 888;
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: center;

  &-inner {
    width: 798px;
    max-width: 100%;
    padding: 0 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-link {
    display: block;
    height: 56px;
    width: 56px;
    padding: 12px;
    cursor: pointer;
    border-radius: 6px;

    &.active {
      background-color: rgba(0, 0, 0, 0.1);
    }

    &:hover {
      background-color: rgba(0, 0, 0, 0.2);
    }
  }
}
