.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 300px;

  &-nickname {
    margin: 4px 0;
  }

  &-qr {
    &-img {
      width: 180px;
      height: 180px;
    }

    &-status {
      color: #999;
    }
  }
}
