.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 64px;
  padding: 0 12px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: #fff;

  &-scrolled {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  }

  &-user {
    display: flex;
    align-items: center;
    position: absolute;
    right: 12px;

    &-name {
      font-size: 14px;
      margin-left: 4px;
      color: #666;
    }
  }

  &-login {
    position: absolute;
    right: 12px;
  }

  &-link {
    margin: 0 16px;
    text-decoration: none;
    font-weight: 500;
    display: inline-flex;
    height: 48px;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    color: rgba(0, 0, 0, 0.5);

    &.active,
    &:hover {
      color: #333;
    }
  }
}

@media (max-width: 626px) {
  .nav {
    &-user-name {
      display: none;
    }
  }
}
